*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Punto 1*/
.caja{ /*Se aplica estilo a la caja*/
    background-color: cornflowerblue;
    margin: 0 auto;
    text-align: center;
    border: 3px solid black;
    height: 200px;
    width: 200px;
    position: relative;
    margin-top: 15px;
    padding: 30px;
}

@media(width > 1000px){ /*aplico un media (En caso de que width sea mayor a 1000)*/
    .caja{
        background-color: brown; /*Cambiar el color de fondo de la clase caja*/
    }
}